<h1>Hello, <%= @user.first_name %></h1>

<p>
  We are happy to tell you that you're account has been approved and you now have access to trade!
</p>

<p>
  <%= link_to "Click here", user_session_url %> to sign in!
</p>